*.workspace
*.project
cscope.files
*.off
*.pyc
*.off
*.saved
*.off2
*~
.pdb-pyhist
/build/
/build_ext/
/build_fmt/
/x86_64/
\#*\#
\.#*
/version_info.h
TAGS
.pdbrc
cscope.out
pybind11/tests/
/build/*
/unused/*
.idea/
gui/.idea/