Makefile
Makefile.in
\#*
.\#*
*~
*.cache
config.*
configure
cfg*.sh
build*.sh
.settings
site
tmp
aclocal.m4
ltmain.sh
libtool
wxSVG.layout
Makefile.win
ltmain.sh.lnk
*.bz2
ftp.sh
README.txt
libwxsvg.pc
.pydevproject
libwxsvg.a
compile
cscope.out
.gdbinit
